version: '{branch}-{build}'
branches:
  only:
  - master
skip_tags: true
platform: x64
os: MinGW
environment:
  OPENSSL_VERSION: 1_0_2f
install:
  - cmd: SET PATH=C:\MINGW\bin\;C:\MINGW\msys\1.0\bin\;%LOCALAPPDATA%\.multirust\toolchains\stable\bin\;%PATH%
  - ps: Start-FileDownload "https://github.com/Diggsey/multirust-rs-binaries/raw/master/i686-pc-windows-gnu/multirust-rs.exe"
  - multirust-rs -v update stable
  - rustc --version
  - cargo --version
  - ps: Start-FileDownload "http://slproweb.com/download/Win32OpenSSL-$Env:OPENSSL_VERSION.exe"
  - cmd: Win32OpenSSL-%OPENSSL_VERSION%.exe /silent /verysilent /sp- /suppressmsgboxes
  - cmd: SET OPENSSL_LIB_DIR=C:\OpenSSL-Win32
  - cmd: SET OPENSSL_INCLUDE_DIR=C:\OpenSSL-Win32\include
build: false
test_script:
  - cargo build -v --features strict
  - cargo test --lib -v --features strict
  - bash scripts\test_features.sh
